:host {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: hidden;

    &.absolute {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    div {
        box-sizing: border-box;
        margin:0;
        padding:0;
        width: 100%;
        height: 100%;
    
        &.cover {
            background-size: cover !important;
        }
        iframe {
            border: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        video {
            border: 0;
            width: 100%;
            height: auto;
            position: absolute;
            object-fit: cover;
        }
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 5s;
        animation-name: fade;
        animation-duration: 5s;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }
  
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 0.8}
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 0.8}
    }
    .grayout {
        -webkit-animation-name: grayout;
        -webkit-animation-duration: 5s;
        animation-name: grayout;
        animation-duration: 5s;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }
    
    @-webkit-keyframes grayout {
        from {filter:grayscale(.4)} 
        to {filter:grayscale(1)}
    }
    
    @keyframes grayout {
        from {filter:grayscale(.4)} 
        to {filter:grayscale(1)}
    }
    .sepia {
        -webkit-animation-name: sepia;
        -webkit-animation-duration: 5s;
        animation-name: sepia;
        animation-duration: 5s;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }
    
    @-webkit-keyframes sepia {
        from {filter:sepia(.4)} 
        to {filter:sepia(1)}
    }
    
    @keyframes sepia {
        from {filter:sepia(.4)} 
        to {filter:sepia(1)}
    }
    .zoom {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 55s;
        animation-name: zoom;
        animation-duration: 55s;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }
    
    @-webkit-keyframes zoom {
        from {transform: scale(1)} 
        to {transform: scale(1.2)}
    }
    
    @keyframes zoom {
        from {transform: scale(1)} 
        to {transform: scale(1.2)}
    }
    .shake {
        -webkit-animation-name: shake;
        -webkit-animation-duration: 15s;
        animation-name: shake;
        animation-duration: 15s;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }
    @keyframes shake {
        10%, 90% {transform: translate3d(-1px, 0, 0);}
        20%, 80% {transform: translate3d(2px, 0, 0);}
        30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
        40%, 60% {transform: translate3d(4px, 0, 0);}
    }
}
