[imageholder] ::ng-deep img{
    width: 200px;
}

:host {
    p {
        margin: 0;
    }
	.resources {
      margin: 10px 0 20px 0;
      a {
        color: #fff;
      }
    }
    .info {
        cursor: pointer;
        &:before {
            content: '\203A';
            font-weight: bold;
            display: inline-block;
            margin-right: 10px;
        }
        &.expanded {
            &:before {
                content: '\203A';
                font-weight: bold;
                display: inline-block;
                margin-right: 10px;
                transform: rotate(90deg);
            }
        }
    }
    .titles {
        color: #fff;
        position: absolute;
        top: 20px;
        right: 20px;
        h1, h2, h3 {
            color: #fff;
            margin: 0;
        }
        .centered {
            margin-top: 25px;
            display: block;
            background-color: transparent;
        }
    }
}
