<!--The content below is only a placeholder and can be replaced.-->
<div class="titles">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>Please select a background and a pattern image:</p>
  <p>You can tab into drop-down and use arrow buttons to select a different image.</p>
  <div class="centered">
    <i-select 
      id="backgroundPicker" 
      name="selectedBackground" 
      [size]="6" 
      [multiselect]="false" 
      [entries]="iconpickeData"
      [searchEnabled]="true" 
      (onchange)="updateSelection($event)">
    </i-select>
  
    <select i-select 
        id="overlayPicker1" size="6" name="selectedOverlay"
        [searchEnabled]="false" 
        (change)="updateOverlay($event)" >
      <option *ngFor="let x of iconpickeOverlay" [value]="x.value" [textContent]="x.name"></option>
    </select>
  </div>
  <p>Selected background: {{selectedImage ? selectedImage.name : 'TBD'}}</p>
  <p>Selected cover pattern: {{selectedPattern ? selectedPattern.name:''}}</p>
</div>

<div 
    *ngIf="selectedImage !== null" 
    class="pickedIcon" 
    [class.cover]="true" 
    [style.background]="selectedImage.value | CSSImage:false" >

  <div 
      *ngIf="selectedPattern!=null" 
      class="pickedPattern" 
      [style.background]="selectedPattern.value | CSSImage:true" ></div>
</div>
